@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-image: url(/assets/img/background-login.jpg);
    background-size: 100%;
    background-attachment: fixed;
    color: rgb(255, 0, 0);
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

.form-main{
    min-height: 100vh;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-content{
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.form-content .box{
    background-color: white;
    border-color: rgb(137, 135, 135);
    border: 1px solid rgb(255, 255, 255);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: blue;
}

.form-content h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: rgb(255, 0, 0);
    font-weight: 500;
}

.form-content form{
    margin: 25px 0 20px;                
}

.form-content .input-box{
    margin-bottom: 25px;
}

.form-content .input-control{
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
}

.form-content .input-control:focus{
    outline: none;
}

.form-content .input-link{
    margin-top: 10px;
    text-align: center;
}

.form-content .btn{
    color: white;
    background-color: red;
    border: none;
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    user-select: none;
}

.form-content .btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.form-content p{
    text-align: center;
}